<main>
    <div class="product-container">
        <app-search></app-search>
        <div class="products">
            <div class="product-card" *ngFor="let produit of  produits| async">
                <h3>{{ produit.nom }}</h3>
                <p>Prix: {{ produit.prix }}€</p>
                <p>{{ produit.disponible ? 'Disponible' : 'Indisponible' }}</p>
            </div>
        </div>

        <ng-template #loading>
            <p>Chargement des produits...</p>
        </ng-template>
    </div>
</main>